<h1>Messages</h1>

<a href="/messages/new">Post a message!</a>


<% @messages.each do |message| %>
  <div class="message">
    <h3><a href="/messages/<%= message.id %>"> Message #<%= message.id %></a> <small>(by: <%= message.author %>)</small></h3>
    <p>
      <%= message.content %> <a href="<%=message.url %>"> <%= message.url %> </a>
    </p>
  </div>
<% end %>
