<h1>Message #<%= @message.id %></h1>

<p>
  <strong> Author: <%= @message.author %> </strong>
  <small> Created: <%= @message.created_at %> </small>
</p>

<p>
  <%= @message.content  %>
</p>

<p>
  <a href="<%= @message.url %>"> <%= @message.url %> </a>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>