<h1>Message #<%= @message.id %></h1>

<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content  %>
</p>

<p>
  <a href="<%= @message.url %>"> <%= @message.url %> </a>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>